<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>wylm部署</title>
<style type="text/css">
<!--
.STYLE1 {
        font-size: 24px;
        font-weight: bold;
}
.STYLE3 {color: #FF0000; font-weight: bold; }
.STYLE4 {color: #000000}
.STYLE5 {color: #000000; font-weight: bold; }
.STYLE6 {color: #FF0000}
.STYLE7 {color: #CCE8CF; font-weight: bold; }
-->
</style>
</head>

<body>
<p align="center" class="STYLE1">前端 ext.taotaosou.com的wylm静态文件 发布 </p>
<strong></B>一.先把安装包拷过来</strong>
<p><B>
  <input name="button82" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/dep-wylm.html','_blank')" value="wylm包线上传输"/>
  </B><B></p>
<p>&nbsp;</p>
<p class="STYLE5">二.部署</p>
<p class="STYLE3">1）部署13服务器</p>
<p class="STYLE5">
  <input name="button72" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/dep-wylm_13.html','_blank')" value="10.0.0.13部署"/>
</p>
<p class="STYLE5"><span class="STYLE6">2）118服务器同步</span></p>
<input name="button72" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/dep-qdtmtdep_118.html','_blank')" value="10.0.0.118同步"/>
<p class="STYLE5">&nbsp;</p>
<p class="STYLE5">&nbsp;</p>

<p class="STYLE5">三.刷CDN缓存</p>
<p class="STYLE5">需刷新的域名：：</p>
<p>http://ext.taotaosou.com/wylm/
<p>使用cdn账号：taotaosou-cdn
<p><br />
  <input name="button72" type="button" class="STYLE1" onClick="window.open('https://portal.chinacache.com/login.do','_blank')" value="CDN地址"/>
<p class="STYLE5">&nbsp;</p>

</body>
