<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{{title}}</title>
<style type="text/css">
<!--
    .STYLE1 {
            font-size: 24px;
                    font-weight: bold;
                    }
                    .STYLE3 {color: #FF0000; font-weight: bold; }
                    .STYLE4 {color: #000000}
                    .STYLE5 {color: #000000; font-weight: bold; }
                    .STYLE6 {color: #FF0000}
                    -->
</style>
</head>

<body>
<p align="center" class="STYLE1">主站日志查看 </p>
<p class="STYLE5">调取服务器日志最后500行，进入页面后按&quot;F5&quot;刷新可获取最新日志信息。请点击以下服务器按钮</p>
<p class="STYLE3">www服务:::</span></p>
<p><B>
  <input name="button82" type="button" class="STYLE5" onClick="window.open('http://192.168.3.31/log-www-121.html','_blank')" value="10.0.0.121"/>
    </B><b> </b><B><b>
<input name="button823" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-www-80.html','_blank')" value="192.168.3.80"/>
        </b><B><b> </b><B><b>
<input name="button8232" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-www-81.html','_blank')" value="192.168.3.81"/>
</b><B></p>
            <p class="STYLE3">app服务:::</p>
<p class="STYLE3"><b>
 <input name="button822" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-app-121.html','_blank')" value="10.0.0.121"/>
              </b><b> </b><B><b>
<input name="button8233" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-app-186.html','_blank')" value="192.168.3.186"/>
              </b><B><b> </b><B><b>
   <input name="button82322" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-app-22.html','_blank')" value="10.0.0.22"/>
</b><B></p>

<p class="STYLE5"><span class="STYLE3">client服务:::</span></p>
<p class="STYLE5"><span class="STYLE3"><b>
  <input name="button8222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-client-186.html','_blank')" value="192.168.3.186"/>
</b><b> </b><B><b>
<input name="button82332" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-client-22.html','_blank')" value="10.0.0.22"/>
  <input name="button8222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-bijiacs183_1.html','_blank')" value="10.0.0.183"/>
  </b><b> </b><B><b>
    <input name="button8222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-bijiacs51_1.html','_blank')" value="10.0.0.51"/>
    </b><b> </b><B><b>
<p class="STYLE5"><span class="STYLE3">i服务:::</span></p>
<p class="STYLE5"><span class="STYLE3"><b>
<input name="button82222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-i-121.html','_blank')" value="10.0.0.121"/>
</b><b> </b><B><b>
<input name="button823322" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-i-22.html','_blank')" value="10.0.0.22"/>
</b><B></span></p>
<p class="STYLE5"><span class="STYLE3">item服务:::</span></p>
<p class="STYLE5"><span class="STYLE3"><b>
<input name="button8223" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-item-59.html','_blank')" value="10.0.0.59"/>
</b><b> </b><B><b>
<input name="button82333" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-item-17.html','_blank')" value="192.168.3.17"/>
</b><B><b> </b><B><b>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-item-37.html','_blank')" value="192.168.3.37"/>
</b></span></p>
<p class="STYLE5"><span class="STYLE3">search服务:::</span></p>
<B><b>
<input name="button82333" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-search-17.html','_blank')" value="192.168.3.17"/>
</b><B><b> </b><B><b>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-search-37.html','_blank')" value="192.168.3.37"/>
</b></span></p>


<p class="STYLE5"><span class="STYLE3">service服务:::</span></p>
<B><b>
<input name="button82333" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-service-22.html','_blank')" value="10.0.0.22"/>
</b><B><b> </b><B><b>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-service-52.html','_blank')" value="10.0.0.52"/>
</b><B><b> </b><B><b>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-service-59.html','_blank')" value="10.0.0.59"/>
</b></span></p>

<p class="STYLE5"><span class="STYLE3">tejia服务:::</span></p>
<B><b>
<input name="button82333" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-tejia-18.html','_blank')" value="192.168.3.18"/>
</b><B><b> </b><B><b>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-tejia-19.html','_blank')" value="192.168.3.19"/>
</b></span></p>

<p class="STYLE5"><span class="STYLE3">tuan服务:::</span></p>
<B><b>
<input name="button82333" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-tuan-18.html','_blank')" value="192.168.3.18"/>
</b><B><b> </b><B><b>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-tuan-19.html','_blank')" value="192.168.3.19"/>
</b></span></p>
<p class="STYLE5"><span class="STYLE3">sitemap服务:::</span></p>
<B><b>
<input name="button82333" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-sitemap-80.html','_blank')" value="192.168.3.80"/>
</b><B><b> </b><B><b>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-sitemap-83.html','_blank')" value="192.168.3.83"/>
</b></span></p>

<p class="STYLE5"><span class="STYLE3">dapei服务:::</span></p>
<B><b>
<input name="button82333" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-dapei-106.html','_blank')" value="192.168.3.106"/>
</b><B><b> </b><B><b>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-dapei-37.html','_blank')" value="192.168.3.37"/>
</b><B><b> </b><B><b>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-dapei-37.html','_blank')" value="192.168.3.80"/>
</b></span></p>


<p class="STYLE5"><span class="STYLE3">control服务:::</span></p>
<B><b>
<input name="button82333" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-control-18.html','_blank')" value="192.168.3.18"/>
</b><B><b> </b><B><b>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-control-19.html','_blank')" value="192.168.3.19"/>
</b></span></p>

</body>

</html>
