<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{{title}}</title>
<style type="text/css">
<!--
        .STYLE1 {
                    font-size: 24px;
                                        font-weight: bold;
                                                            }
                                                                                .STYLE3 {color: #FF0000; font-weight: bold; }
                                                                                                    .STYLE4 {color: #000000}
                                                                                                                        .STYLE5 {color: #000000; font-weight: bold; }
.STYLE8 {color: #FF0000}
                                                                                                                                                                -->
</style>
</head>

<body>
<p align="center" class="STYLE1">比价日志查看 </p>
<p class="STYLE5">调取服务器日志最后500行，进入页面后按&quot;F5&quot;刷新可获取最新日志信息。请点击以下服务器按钮</p>
<p class="STYLE3 STYLE4">**********************************<span class="STYLE8">比价</span>***************************************************************</p>
<p class="STYLE5"><span class="STYLE3">比价10.0.0.183服务器:::</span></p>
<B><b>
<input name="button82333" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-bijia183_1.html','_blank')" value="browser-8180"/>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-bijia183_2.html','_blank')" value="browser-8280"/>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-bijia183_3.html','_blank')" value="browser-8380"/>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-bijia183_4.html','_blank')" value="browser-8480"/>


<p class="STYLE5"><span class="STYLE3">比价192.168.3.94服务器:::</span></p>
<B><b>
<input name="button82333" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-bijia94_1.html','_blank')" value="browser-8180"/>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-bijia94_2.html','_blank')" value="browser-8280"/>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-bijia94_3.html','_blank')" value="browser-8380"/>
</b></span></p>

<p class="STYLE5"><span class="STYLE3">比价192.168.3.83服务器:::</span></p>
<B><b>
<input name="button82333" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-bijia83_1.html','_blank')" value="browser-9180"/>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-bijia83_2.html','_blank')" value="browser-9280"/>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-bijia83_3.html','_blank')" value="browser-9380"/>
</b></span></p>

<p class="STYLE5"><span class="STYLE3">比价10.0.0.48服务器:::</span></p>
<B><b>
<input name="button82333" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-bijia48_1.html','_blank')" value="browser-8180"/>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-bijia48_2.html','_blank')" value="browser-8280"/>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-bijia48_3.html','_blank')" value="browser-8380"/>
</b></span></p>

<p class="STYLE5"><span class="STYLE3">比价10.0.0.51服务器:::</span></p>
<B><b>
<input name="button82333" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-bijia51_1.html','_blank')" value="browser-8180"/>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-bijia51_2.html','_blank')" value="browser-8280"/>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-bijia51_3.html','_blank')" value="browser-8380"/>
</b></span></p>
<p class="STYLE3">&nbsp;</p>
<p class="STYLE5">*********************************<span class="STYLE8">找了又找</span>***************************************************************</p>
<p class="STYLE5"><span class="STYLE3">找了又找10.0.0.51服务器:::</span></p>
<B><b>
<input name="button82333" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-recom51_1.html','_blank')" value="recom-6180"/>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-recom51_2.html','_blank')" value="recom-6280"/>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-recom51_3.html','_blank')" value="recom-6380"/>


<p class="STYLE5"><span class="STYLE3">找了又找10.0.0.22服务器:::</span></p>
<B><b>
<input name="button82333" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-recom23_1.html','_blank')" value="recom-6280"/>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-recom23_2.html','_blank')" value="recom-6380"/>
<input name="button823222" type="button" class="STYLE5" onclick="window.open('http://192.168.3.31/log-recom23_3.html','_blank')" value="recom-6480"/>
</body>

</html>
