<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://browser.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://browser.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>browser部署</title>
<style type="text/css">
<!--
.STYLE1 {
        font-size: 24px;
        font-weight: bold;
}
.STYLE3 {color: #FF0000; font-weight: bold; }
.STYLE4 {color: #000000}
.STYLE5 {color: #000000; font-weight: bold; }
.STYLE6 {color: #FF0000}
-->
</style>
</head>

<body>
<p align="center" class="STYLE1">比价发布 </p>
<strong></B>一.先把安装包拷过来</strong>
<p><B>
  <input name="button82" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/register-bijiadep.html','_blank')" value="browser包线上传输"/>
  </B><B></p>
<p>&nbsp;</p>
<p class="STYLE3"><span class="STYLE4">二.</span>aotoconfig<span class="STYLE4">，自动将其拷贝至部署目录：：：</span></p>

<input name="button72" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/bijia-auto.html','_blank')" value="browser打auto"/>
<p class="STYLE3">&nbsp;</p>
<p>&nbsp;</p>
<p class="STYLE5">三.执行部署时要注意，工程包标签日期要是今天，如不是需到服务器目录修改至今天。</p>
<p class="STYLE3">注意：：请依次执行各台服务器，注意留tomcat启动时间，不然全死光用户进不来了</span></p>
<p class="STYLE5"><span class="STYLE6">10.0.0.183</span> 部署</p>
<input name="button72" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/depbrowser183.html','_blank')" value="10.0.0.183部署"/>
<input name="button723" type="button" class="STYLE1" onclick="window.open('http://192.168.3.31/depbrowser183w.html','_blank')" value="183检测"/>
<p class="STYLE5">&nbsp;</p>
<p class="STYLE5"><span class="STYLE6">192.168.3.94</span> 部署</p>
<p>
  <input name="button72" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/depbrowser94.html','_blank')" value="192.168.3.94部署"/>
  
  <input name="button724" type="button" class="STYLE1" onclick="window.open('http://192.168.3.31/depbrowser94w.html','_blank')" value="94检测"/>
</p>
<p>&nbsp;</p>
<p class="STYLE5"><span class="STYLE6">192.168.3.83</span> 部署</p>
<p>
  <input name="button725" type="button" class="STYLE1" onclick="window.open('http://192.168.3.31/depbrowser83.html','_blank')" value="192.168.3.83部署"/>
  <input name="button7242" type="button" class="STYLE1" onclick="window.open('http://192.168.3.31/depbrowser83w.html','_blank')" value="83检测"/>
</p>
<p>&nbsp;</p>
<p class="STYLE5"><span class="STYLE6">10.0.0.48</span> 部署</p>
<p>
  <input name="button7252" type="button" class="STYLE1" onclick="window.open('http://192.168.3.31/depbrowser48.html','_blank')" value="10.0.0.48部署"/>
  <input name="button72422" type="button" class="STYLE1" onclick="window.open('http://192.168.3.31/depbrowser48w.html','_blank')" value="48检测"/>
</p>
<p>&nbsp;</p>
<p class="STYLE5"><span class="STYLE6">10.0.0.51</span> 部署</p>
<p>
  <input name="button72522" type="button" class="STYLE1" onclick="window.open('http://192.168.3.31/depbrowser51.html','_blank')" value="10.0.0.51部署"/>
  <input name="button724222" type="button" class="STYLE1" onclick="window.open('http://192.168.3.31/depbrowser51w.html','_blank')" value="51检测"/>
</p>
<p>&nbsp;</p>

<p class="STYLE5">四.<span class="STYLE6">验证browser.taotaosou.com接口</span></p>
<input name="button72" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/br.html','_blank')" value="验证browser接口"/>

<p class="STYLE5">&nbsp;</p>
</body>

</html>
