{% extends "base1.html" %}
{% block biaoti1 %} 主站 {% endblock %}
{% block biaoti2 %} 主站client {% endblock %}
{% block chuanbao %}
  <input class="btn btn-primary" name="button82" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/register-client.html','_blank')" value="包线上传输"/>
  {% endblock %}
  {% block autoconfig %}
  <p><span class="STYLE9">2.打autoconfig,就算没有，也要点击：</span><p>
  <input class="btn btn-primary" name="button82" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/auto-client.html','_blank')" value="打autoconfig"/>
  <br \>
  <br \>
  <br \>
  {% endblock %}
  {% block biaoti3 %} 2.主站app {% endblock %}
  {% block bushuanniu %}
    <input class="btn btn-primary" name="button82" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/dep-client186.html','_blank')" value="192.168.3.186部署"/>
      <input class="btn btn-primary" name="button72" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/dep-client22.html','_blank')" value="10.0.0.22部署"/>
        <input class="btn btn-primary" name="button72" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/dep-client183.html','_blank')" value="10.0.0.183部署"/>
          <input class="btn btn-primary" name="button72" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/dep-client51.html','_blank')" value="10.0.0.51部署"/>

{% endblock %}
{% block yanzheng%}3.服务验证{% endblock %}
{% block ceshianniu%}
  <button class="btn btn-primary " type="button" onClick="window.open('http://192.168.3.31/client.html','_blank')">验证地址</button>
  {% endblock %}
