<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>pay_web部署</title>
<style type="text/css">
<!--
    .STYLE1 {
            font-size: 24px;
                    font-weight: bold;
                    }
                    .STYLE3 {color: #FF0000; font-weight: bold; }
                    .STYLE4 {color: #000000}
                    .STYLE5 {color: #000000; font-weight: bold; }
                    .STYLE6 {color: #FF0000}
                    -->
</style>
</head>

<body>
<p align="center" class="STYLE1">主站 pay_web 发布 </p>
<strong></B>一.先把安装包拷过来</strong>
<p><B>
  <input name="button82" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/registerpay_web.html','_blank')" value="pay_web包线上传输"/>
    </B><B></p>
    <p>&nbsp;</p>
    <p class="STYLE3"><span class="STYLE4">二.</span>aotoconfig<span class="STYLE4">，自动将其拷贝至部署目录：：：</span></p>

<input name="button722" type="button" class="STYLE1" onclick="window.open('http://192.168.3.31/autopay_web.html','_blank')" value="pay_web打auto"/>
<p class="STYLE3">&nbsp;</p>
<p>&nbsp;</p>
<p class="STYLE5">三.执行部署时要注意，工程包标签日期要是今天，如不是需到服务器目录修改至今天。</p>
<p class="STYLE3">注意：：请依次执行各台服务器，注意留tomcat启动时间，不然全死光用户进不来了</span></p>
<p class="STYLE5"><span class="STYLE6">192.168.3.80</span> 部署</p>
<p>
  <input name="button72" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/pay_webdep_80.html','_blank')" value="192.168.3.80部署"/>
  </p>
  <p class="STYLE5"><span class="STYLE6">192.168.3.81 </span>部署</p>
  <p>
    <input name="button723" type="button" class="STYLE1" onclick="window.open('http://192.168.3.31/pay_webdep_81.html','_blank')" value="192.168.3.81部署"/>
    </p>
    <p>&nbsp;</p>
    <p class="STYLE4">&nbsp;</p>
    <p class="STYLE5">四.<span class="STYLE3">验证http://pay.lingshijia.com</span></p>
    <p class="STYLE5">
      <input name="button7232" type="button" class="STYLE1" onclick="window.open('http://192.168.3.31/pay_web.html','_blank')" value="pay_web验证"/>
      </p>
      <p class="STYLE5">&nbsp;</p>
      </body>

</html>
