<!DOCTYPE html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>{{title}}</title>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="static/bootstrap.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="static/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="static/bootstrap.min.js"></script>
</head>


<style>
iframe {width:500px;height:90px;}
 body{
    /*background: blue;*/
       background-repeat: no-repeat;
       background-size:100% 100%;
       background-attachment: fixed;
       background-image:url('static/bj.jpg')

   }
   .STYLE9 {
           color: #FFFFFF;
           font-weight: bold;
           }
</style>

<body>
<div class="container-fluid">
        <div class="row-fluid">
        <div class="span12">
            <h1 align="center" class="STYLE9">千里眼ops部署验证平台 </h1>
        <div class="tabbable" id="tabs-320427">
            <ul class="nav nav-tabs">
            <li class="active">

 
<p><span class="STYLE9">
  <strong>千里眼qly_data发布</strong> <br />
1.工程包传输：</span></p>   
                                                                                        
        <input class="btn btn-primary" name="button82" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/qly_datacp.html','_blank')" value="qly_data包线上传输"/>
<br \>   
<br \>   
<br \>   

<p> <span class="STYLE9">2.千里眼发布、日志查看、回滚：</span> </p>
        
<br \>
  <input class="btn btn-primary" name="button82" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/qly_datadep_109.html','_blank')" value="0.109发布"/>
  <input class="btn btn-primary" name="button72" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/qly_datalog_109.html','_blank')" value="0.109日志查看"/>&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="btn btn-primary" name="button72" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/qly_datahg_109.html','_blank')" value="0.109回滚"/>
<br \>   
<br \>
  <input class="btn btn-primary" name="button82" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/qly_datadep_29.html','_blank')" value="0.29发布"/>
  <input class="btn btn-primary" name="button72" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/qly_datalog_29.html','_blank')" value="0.29日志查看"/>&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="btn btn-primary" name="button72" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/qly_datahg_29.html','_blank')" value="0.29回滚"/>
<br \>
<br \>
  <input class="btn btn-primary" name="button82" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/qly_datadep_143.html','_blank')" value="0.143发布"/>
  <input class="btn btn-primary" name="button72" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/qly_datalog_143.html','_blank')" value="0.143日志查看"/>&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="btn btn-primary" name="button72" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/qly_datahg_143.html','_blank')" value="0.143回滚"/>
<br \>
<br \>
  <input class="btn btn-primary" name="button82" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/qly_datadep_122.html','_blank')" value="0.122发布"/>
  <input class="btn btn-primary" name="button72" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/qly_datalog_122.html','_blank')" value="0.122日志查看"/>&nbsp;&nbsp;&nbsp;&nbsp;
  <input class="btn btn-primary" name="button72" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/qly_datahg_122.html','_blank')" value="0.122回滚"/>
<br \>
<br \>
<br \>
<p><span class="STYLE9">3.服务验证.</span> </p>
<button class="btn btn-primary " type="button" onClick="window.open('http://10.0.0.109:6180','_blank')">10.0.0.109:6180</button>
<button class="btn btn-primary " type="button" onClick="window.open('http://10.0.0.29:6180','_blank')">10.0.0.29:6180</button>
<button class="btn btn-primary " type="button" onClick="window.open('http://10.0.0.143:6180','_blank')">10.0.0.143:6180</button>
<button class="btn btn-primary " type="button" onClick="window.open('http://10.0.0.122:6180','_blank')">10.0.0.122:6180</button>


   
   


<script type="text/javascript">
(function() {
        var btn = $(".btn");
        btn.on("click", function(e) {
        var thisBtn = $(this);
        thisBtn.addClass("btn-success").data("stat", "true");
        });
        })()
</script>
                                                                              
   

    <div align="left">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
    <address> 
    <strong>博涵Dream.S</strong><br />
    bh6886@qq.com<br />  
    <abbr title="Phone">P:</abbr> 13372542902
    </address>
    </div>
