{% extends "base1.html" %}
{% block biaoti1 %} 主站 {% endblock %}
{% block biaoti2 %} 主站tuan {% endblock %}
{% block chuanbao %}
  <input class="btn btn-primary" name="button82" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/register-tuan.html','_blank')" value="包线上传输"/>
  {% endblock %}
  {% block autoconfig %}
  <p><span class="STYLE9">2.打autoconfig,就算没有，也要点击：</span><p>
  <input class="btn btn-primary" name="button82" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/auto-tuan.html','_blank')" value="打autoconfig"/>
  <br \>
  <br \>
  <br \>
  {% endblock %}
  {% block biaoti3 %} 3.{% endblock %}
  {% block bushuanniu %}
    <input class="btn btn-primary" name="button82" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/dep-tuan18.html','_blank')" value="192.168.3.18部署"/>
      <input class="btn btn-primary" name="button72" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/dep-tuan19.html','_blank')" value="192.168.3.19部署"/>



{% endblock %}
{% block yanzheng%}4.服务验证{% endblock %}
{% block ceshianniu%}
  <button class="btn btn-primary " type="button" onClick="window.open('http://192.168.3.31/tuan.html','_blank')">验证地址</button>
{% endblock %}
