<!DOCTYPE html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>{{title}}</title>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="static/bootstrap.min.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="static/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="static/bootstrap.min.js"></script>
</head>


<style>
iframe {width:500px;height:90px;}
 body{
    /*background: blue;*/
       background-repeat: no-repeat;
       background-size:100% 100%;
       background-attachment: fixed;
       background-image:url('static/bj.jpg')

   }
   .STYLE9 {
           color: #FFFFFF;
           font-weight: bold;
           }
</style>

<body>
<div class="container-fluid">
        <div class="row-fluid">
        <div class="span12">
            <h1 align="center" class="STYLE9">前端 http://img.haolingzui.com/tts-m-hlz </h1>
        <div class="tabbable" id="tabs-320427">
            <ul class="nav nav-tabs">
            <li class="active">

        <strong>haolingzui发布</strong></a>                               </li>
 <li>
 
<p><span class="STYLE9">1.工程包传输：</span></p>   
                                                                                        
        <input class="btn btn-primary" name="button82" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/qdhlz.html','_blank')" value="static包线上传输"/>
<br \>   
<br \>   
<br \>   
<p> <span class="STYLE9">2.部署：</span> </p>
        

  <input class="btn btn-primary" name="button82" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/qdhlzmdep86.html','_blank')" value="10.0.0.86部署"/>
 
<br \>   
<br \>   
<br \>   
  <input class="btn btn-primary" name="button82" type="button" class="STYLE1" onClick="window.open('http://192.168.3.31/qdhlzmdep7.html','_blank')" value="10.0.0.7同步"/>

<br \>   
<br \>   
<br \>   
<!-- <p><span class="STYLE9">3.刷CDN缓存.</span> </p>
<p><span class="STYLE9">需刷新的域名：：<br />
     http://img.taotaosou.cn/tts-m-hlz/<br />
       http://img01.taotaosou.cn/tts-m-hlz/<br />
       http://img02.taotaosou.cn/tts-m-hlz/<br />
       http://img03.taotaosou.cn/tts-m-hlz/</span> </p>
<button class="btn btn-primary " type="button" onClick="window.open('https://portal.chinacache.com/login.do','_blank')">刷新CDN</button>
-->

 <p><span class="STYLE9"> 部署完成，手动验证相应URL.</span> </p>

   
   


<script type="text/javascript">
(function() {
        var btn = $(".btn");
        btn.on("click", function(e) {
        var thisBtn = $(this);
        thisBtn.addClass("btn-success").data("stat", "true");
        });
        })()
</script>
                                                                              
   

    <div align="left">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
    <address> 
    <strong>博涵Dream.S</strong><br />
    bh6886@qq.com<br />  
    <abbr title="Phone">P:</abbr> 13372542902
    </address>
    </div>

